@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  color: #ffff;
  background: rgb(142, 73, 232);
}
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
}
.left{
  left:0;
  padding: 10px;
  background: linear-gradient(to bottom, #00BFFF 0%, #497BE8 100%);
}

.right {
    right: 0;
    background: linear-gradient(to bottom, #FFC0CB 0%, #FF69B4 100%);
}

.task-wrapper{
  background: #fff;
  max-width: 400px;
  width: 100%;
  margin: 120px auto;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}

.task-wrapper header{
  font-size: 30px;
  font-weight: 600;
}


.task-wrapper .footer{
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.footer button{
  padding: 6px 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
  background: #8E49E8;
  cursor: pointer;
  user-select: none;
  opacity: 0.6;
  pointer-events: none;
  transition: all 0.3s ease;
}
.footer button.active{
  opacity: 1;
  pointer-events: auto;
}